<h1>Name: <%= @application.name %></h1>
<p>Address: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip%></p>
<p>Phone Number: <%= @application.phone_number %></p>
<p>Description: <%= @application.description %></p>
Pets Applied For:<% @application.pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">
    <%= link_to pet.name, "/pets/#{pet.id}" %>
    <% if pet.adoptable == true %>
        Pet: <%= link_to "Approve Application", "/applications/#{@application.id}/pet_applications/#{pet.id}/approved", method: :patch %>
    <% else %>
        Pet: <%= link_to "Unapprove Application", "/applications/#{@application.id}/pet_applications/#{pet.id}/revoked", method: :patch  %>
    <% end %>
  </section>
<% end %>
