 <%= image_tag(@pet.image) %>
    <h1>Name: <%= link_to  @pet.name, "/pets/#{@pet.id}" %></h1>
    <p>Approximate_Age: <%=  @pet.approximate_age %><p> 
    <p>Sex: <%=  @pet.sex  %><p> 
    <p>Description: <%=  @pet.description  %><p> 
    <p>Shelter: <%= link_to @pet.shelter.name, "/shelters/#{@pet.shelter.id}" %><p> 
    <p>Status: <%=  @pet.adoptable %><p> 
<%= link_to  "Update Pet", edit_pet_path %>
<%= link_to  "Delete Pet", pet_path, method: :delete %>
